<div class="sidebar">
            
        <div class="sidebar-section">
            <h5><span>Liens utiles</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://cryptofr.com">Forum CryptoFR</a></li>
            <li><a target="_blank" href="#">TODO</a></li>
            <li><a target="_blank" href="#">TODO</a></li>
            <li><a target="_blank" href="#">TODO</a></li>
            <li><a target="_blank" href="#">TODO</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
            <h5><span>Recommendations</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://cryptofr.com">Forum CryptoFR</a></li>
            <li><a target="_blank" href="#">TODO</a></li>
            </ul>
        </div>
            
</div>